.Rproj.user
.Rhistory
.RData
.Ruserdata

spatial_visual_cortex.Rproj
data/
docs_examples/
Figures/

docs/*.html

docs/*.docx
docs/*.log
docs/*.tex
docs/*.pdf
docs/spatial_statistics/*.pptx

docs/image_processing/*.png
docs/image_processing/*.jpeg
